.education{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.educationCard {
    width: 550px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
  }
